@font-face {
  font-family: "Franklin Gothic Demi Cond";
 src: url(../fonts/FRADMCN.TTF);
}
@font-face {
  font-family: "Franklin Gothic Medium Cond";
 src: url(../fonts/FRAMDCN.TTF);
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(../fonts/OpenSans/OpenSans_400.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(../fonts/OpenSans/OpenSans_600.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../fonts/OpenSans/OpenSans_700.woff) format('woff');
}

/*** Estilos Principais ****/
*{ margin:0px;  padding:0px;}
body{ 
	background:#4C799A url('../img/login/b.png') fixed repeat-x;
/*	font-family: "Myriad Pro", "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif; */
	font-family: Arial, Helvetica, sans-serif;
	color:#333333;
	outline:none;	
}
a{ cursor:pointer;}
.borda5px{-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;}
.borda10px{-moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px;}

#tt{ overflow:hidden;}

#header{height:52px; overflow-y:hidden;padding:5px;background:#003d6e;color:#CCC}
#footer{height:16px; font-size:10px;padding:5px;background:#333;color:#CCC}
#helpcontainer{width:280px; overflow:hidden;}

.icon-logo{
	background:url('../img/icons/logo16.png') no-repeat;
}

#window-login {
	background:#FFF  url('../img/login/logo.jpg') right bottom no-repeat; 
	padding:10px;
	display:none;
}

#top-logo {
	background:url('../img/logos/cursultoria_branco.png') no-repeat 3px 0px;
	width: 300px;
height: 45px;
	margin-top:8px;
	float:left;
	cursor:pointer;
}

label{ display:block; color:#555; float:left; font-weight:bold; margin-right:10px;}
#top-dados {
	float:right;
	font:12px Tahoma;
	color:#fff;
	margin-top:5px;
}
#top-dados img{ float:left; border:1px solid #eee; width:30px; height:30px; margin-right:5px;}

#menu-dados {
	background:#333;
	color:#CCC;

}

#menu_left{ background:url(../img/menu/bg_menu_left.jpg);}

/* Menu 1º Nível */
#menu_left ul{ padding:5px; list-style:none; overflow:auto; float:left; margin-left:15px;}
#menu_left ul li a{width:180px; color:#176906; float:left; background:url(../jquery/easyui/themes/gerentepro/images/tabs_rightarrow.png) center left no-repeat; padding:5px 10px 5px 16px; text-decoration:none;font:13px Tahoma, Arial, Helvetica, sans-serif;}
#menu_left ul li a:hover{ background:url(../jquery/easyui/themes/gerentepro/images/tabs_rightarrow.png) center left no-repeat #cacaca;}

/* Menu 2º Nível */
#menu_left ul li ul li a{width:160px; float:left; background:url(../jquery/easyui/themes/gerentepro/images/bg_tree.gif) center left repeat-y; padding:5px 10px 5px 16px; text-decoration:none;font:12px Arial, Helvetica, sans-serif;}
#menu_left ul li ul li a:hover{ background:url(../jquery/easyui/themes/gerentepro/images/bg_tree.gif) center left repeat-y #cacaca;}


#menu_left #meus_aplicativos{ margin-top:15px;}

#toolbar_search{/* background:url(../jquery/easyui/themes/gerentepro/images/bg_title.gif) repeat-x;*/ height:50px; display:block; overflow:hidden;}
#toolbar_search h1{ float:left; margin:10px; font:28px Arial, Helvetica, sans-serif; color:#d54a05; font-weight:normal;}

#toolbar_search #tools{ padding-left:5px; /*border-left:1px dotted #8db2e3;*/ text-align:right; padding-right:5px; height:50px; float:right; width:450px; padding-top:10px;}
#toolbar_search .textBusca{ height:25px; float:left; outline:none; background:url(../jquery/easyui/themes/gerentepro/images/icon_search.png) no-repeat left center #fff; font:16px Arial, Helvetica, sans-serif; width:230px; color:#848484; padding-left:27px; border:1px solid #e0e0e0;}
#toolbar_search .textBusca:focus{ border:1px solid #ffa500;}

#toolbar_search .submitBusca{ background:#ffa500; border:1px solid #ffa500; color:#fff; font:12px Arial, Helvetica, sans-serif; padding:6px 6px; float:left; font-weight:bold; margin-top:0px; margin-left:0px;}
#toolbar_search .submitBusca:hover{ background:#eb950d;}


#valores_financeiro{ float:left; width:100%; margin-top:10px; height:70px; background:#f0f0f0; display:block;}
.label_financeiro{ text-align:center; font:12px Arial; font-weight:bold; color:#666; bottom:0px; padding-top:8px;}
.values_financeiro{ text-align:center; font:22px Arial; font-weight:bold; height:50px;}
.val_positivo{ color:#277a5e}
.val_negativo{ color:#db0c14;}

/* ---------------------------------------------- Painel / Tabela comum */

#painel td{ border-left:1px solid #eee; border-bottom:1px solid #eee; padding:5px; font:12px Tahoma, Arial; text-align:left; color:#333; padding:6px 5px;}
#painel th{ background:#e6e6e6; border-left:1px solid #eee; border-top:1px solid #eee; padding:3px 5px; text-align:left;  font:12px Tahoma, Arial; color:#666;}
#painel tr{ background:#f5f5f5;}
#painel .final{ border-right:1px solid #ddd;}
#painel .tr_sim{ background:#f9f9f9;}
#painel .verde{ color:#090;}
#painel .vermelho{ color:#c00;}
#painel th a{ text-align:center; background:url(../images2/bg_botoes.gif) repeat-x; padding:5px; border:1px solid #d0d0d0; margin-right:5px; font:12px Tahoma, Arial; display:inline; text-decoration:none;}

#painel .extrato{ background:#e6e6e6;}

#painel tr:hover{ background:#feefe7;}

#painel a{float:left; text-decoration:none; border-bottom:1px solid #f4f4f4; font-weight:normal; color:#666; display:block;}
#painel a:hover{ border-bottom:1px dotted #333;}

/* ---------------------------------------------- Pedidos ------ */
#pedido_header{ display:block; overflow:auto;}
.pedido_numero{ float:left;}
.pedido_numero b{font:23px "Franklin Gothic Medium Cond"; color:#333; text-transform:uppercase;}
.pedido_numero p{font:12px Tahoma, Arial; color:#666;}

b.pedido_status{ float:right; font:20px "Franklin Gothic Medium Cond"; margin-top:6px;}

#pedido_cliente{ float:left; width:325px; padding:5px; overflow:auto; margin-top:5px; background:#e9e9e9; border:1px solid #e0e0e0;}
#pedido_endereco{ float:right; width:325px; padding:5px; overflow:auto; margin-top:5px; background:#e9e9e9; border:1px solid #e0e0e0;}
#fatura_resumo{ float:right; width:325px; padding:5px; overflow:hidden; margin-bottom:2px; margin-top:5px; background:#e9e9e9; border:1px solid #e0e0e0;}

#pedido_cliente p{ font:12px Tahoma, Arial; color:#454;}
#pedido_endereco p{ font:12px Tahoma, Arial; color:#454;}
#fatura_resumo p{ font:12px Tahoma, Arial; color:#454;}
#fatura_resumo span{ font:17px Tahoma, Arial; padding:1px; color:#c00; display:block; margin-bottom:2px !important; }

#pedido_cliente b{ display:block; font:12px Arial; margin-bottom:2px; font-weight:bold; height:20px; color:#cf4e00; background:url(../images2/icons/_icon_user.png) left center no-repeat; padding-left:22px; padding-top:4px;}
#pedido_endereco b{ display:block; font:12px Arial; margin-bottom:2px; font-weight:bold; height:20px; color:#cf4e00; background:url(../images2/icons/_icon_pin.png) left center no-repeat; padding-left:22px; padding-top:4px;}
#fatura_resumo b{ display:block; font:12px Arial; margin-bottom:2px; font-weight:bold; height:20px; color:#cf4e00; background:url(../images2/icons/_icon_list.png) left center no-repeat; padding-left:22px; padding-top:4px;}


.pedido_lista b{display:block; float:left; font:12px Arial; margin-bottom:2px; margin-top:5px; font-weight:bold; height:20px; color:#cf4e00; background:url(../images2/icons/_icon_cart_black.png) left center no-repeat; padding-left:22px; padding-top:4px;}
#pedido_total{ float:right; width:190px; display:block; background:#e5e5e5; padding:5px; margin-top:5px;}
#pedido_total p{ font:12px Tahoma, Arial; color:#333; margin-bottom:3px;}
#pedido_total p b{ font-weight:bold; width:80px; float:right; text-align:right;}

b.pedido_total_descricao{display:block; margin-top:5px; margin-left:10px; float:left; font:12px Arial; margin-bottom:1px; font-weight:bold; height:20px; color:#cf4e00; background:url(../images2/icons/_icon_info2.png) left center no-repeat; padding-left:22px; padding-top:4px;}
b.fatura_descricao{display:block; margin-top:5px; margin-left:10px; float:left; font:12px Arial; margin-bottom:1px; font-weight:bold; height:20px; color:#cf4e00; background:url(../images2/icons/_icon_list.png) left center no-repeat; padding-left:22px; padding-top:4px;}
#pedido_total_descricao{ float:right; margin-right:5px; display:block; padding:5px; width:260px;}
#pedido_total_descricao p{ font:11px Tahoma, Arial; display:block; color:#666; text-align:left;}

.pedido_pagamento{ float:left; margin-top:5px; width:200px; overflow:auto; border-right:1px dotted #d0d0d0;}
.pedido_pagamento b{display:block; float:left; font:12px Arial; margin-bottom:2px; font-weight:bold; height:20px; color:#cf4e00; background:url(../images2/icons/_icon_money_black.png) left center no-repeat; padding-left:22px; padding-top:4px;}
.pedido_pagamento p{display:block; clear:both; font:14px "Franklin Gothic Medium Cond", Arial; color:#454; text-transform:uppercase; margin-bottom:2px; margin-top:5px; }
.pedido_pagamento span{display:block; color:#666; clear:both; font:11px Tahoma, Arial; text-transform:uppercase; margin-top:2px; }
.pedido_pagamento span strong{ font:11px Arial; text-transform:none; font-weight:bold;}

p.fatura_total{display:block; clear:both; font:14px "Franklin Gothic Medium Cond", Arial; color:#454; text-transform:uppercase; margin-bottom:2px; margin-top:5px; }

.bgWhite{ background:#fff; padding:10px;}


.menu_modulos {
	
	width:255px;
	background:#f0f0f0 url('../img/menu/menu_bg.gif') repeat-x;
	padding:7px 0px 7px 10px;
	margin:3px;
		
}

.menu_modulos a {
	text-decoration:none !important;
	color:#000033 !important;	
}

.submenu_modulos {
	width:250px;	
}
.submenu_modulos a{
	text-decoration:none !important;
	color:#000033 !important;	
}

.container {
	padding:10px;
	min-height:500px;
	background:#FFF  url('../img/login/logo.jpg') right bottom no-repeat; 
}

.container h2 {
/*	font-family: "Myriad Pro", "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;  */
	font-family: "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif; */
	color:#333333;
	font-size:26px;
	
	
}
/*** FORMS ****/

.label{
	display:block;
	padding:5px;	
}

.input {
	display:block;
	margin:5px;
	padding:5px;
}

.tip{
	padding:12px;
	display:none;
}
.tip-linha{
	width:24px;
	height:16px;
	float:left;
}


.form-line {
	padding:5px;
	width:100%;
	clear:both;
}

.form-line label{
	margin:5px;
	padding:5px;
	width:80px;
	display:block;
	float:left;
	text-align:left;
}

.font-min {
	font-size:11px;
	color:#ccc;
}


/******* DATAGRID **************/

#datagrid #toolbar {
	height:40px;	
}
#datagrid #search {
	font-size:12px;
	padding:3px;
	background:#FFF url('../img/buttons/searchbox_button.png') right top no-repeat; 	
}



/****** MISC ******/

.invertido {
	color:#FFFFFF !important;	
}

.invertido :hover{
	color:#999999 !important;	
}

.hide {
	display:none;	
}

/*** Broadcrumb ***/
#breadcrumb{ background:#fff0a5; border:1px solid #fed22f; padding:5px; height:17px; font:11px Tahoma, Arial; overflow:hidden; color:#000; display:block;}
#breadcrumb img{ float:left; margin-left:5px;}
#breadcrumb p{ float:left; margin-left:5px; margin-top:2px;}

/*** Título da sessão ***/
#tit_session{ color:#1e7b0b; font:26px "Franklin Gothic Medium Cond"; display:block; padding:5px; border-bottom:1px dotted #ccc;}
#tit_subsession{ color:#454545; font:14px "Open Sans"; font-weight:600; display:block; padding:5px;}

p.dados_empresa{ padding-top:5px; border-top:1px dotted #ccc; padding-bottom:3px; margin-bottom:3px; font:12px Tahoma, Arial, Helvetica, sans-serif; color:#444;}
p.dados_empresa b{ display:block; margin-bottom:3px; font:12px "Open Sans", Arial, Helvetica, sans-serif; color:#999; font-weight:600;}

.tit_configuracao{ font:18px "Open Sans", Arial, Helvetica, sans-serif; color:#333; font-weight:300; line-height:32px; height:32px; display:block; margin-top:5px;}
.tit_configuracao img{ float:left; margin-right:5px;}

ul.list_configuracao{ display:block; overflow:auto; padding:5px; text-decoration:none; font:12px Tahoma, Arial, Helvetica, sans-serif;}

ul.list_configuracao li{ line-height:22px;}

.imgTrocaLogo {
	width:250px;
	height:80px;
	text-align:center;
	padding:0px;
}
.imgTrocaLogo img{ margin-top:10px; line-height:80px;}
.txtTrocaLogo, .txtTrocaLogo_fundo {
	width:240px;
	height:70px;
	padding:5px;
	background:#000;
	display:none;
	position:absolute;
}
.txtTrocaLogo {
	background:none;
	z-index:3;
	text-align:center;
	color:#FFF;
	line-height:80px;
	width:250px;
	height:80px;
	padding:0px;
}

/*** Botões auxiliares ***/
#tools_sys{ display:block; overflow:auto; text-decoration:none;}
.bt_tools a{ height:65px; text-align:center; overflow:hidden; margin-top:5px; margin-right:5px; text-decoration:none; float:left; padding:5px; -moz-border-radius:5px;-webkit-border-radius:5px; border:0px solid #ccc; cursor:pointer;}
.bt_tools a img{ text-align:center;}
.bt_tools a p{  text-align:center; margin-top:5px; text-decoration:none; clear:both; padding:0 10px; margin-left:5px; font-family: Arial; font-size:12px; font-weight:bold; color:#666;}
.bt_tools a:hover{  background:#e8e8e8;  text-decoration:none;}

/*** Barra da Busca / Botões ***/
.table_busca_div{float:left; margin-top:5px; padding:5px; width:99%; margin-bottom:10px; background:#666e73; border:1px solid #4d5255;}
.txt_busca_coluns{ font:12px Tahoma; color:#ffffff; font-weight:bold;}
.input_busca{ float:left; margin-left:5px; padding:4px; font:14px Tahoma; color:#666666; width:200px;}
.filtro_busca{ float:left; margin-left:5px; height:24px; font:12px Tahoma; color:#666666;}
.btn_busca{ float:left; margin-left:5px;}
.admin_list_table{ display:block;}
.table_pages_div{ float:left; padding:3px; width:99%; margin-top:10px; margin-bottom:10px; border:1px dotted #f0f0f0; overflow:hidden;}
.fl_left{ float:left;}
.fl_right{ float:right;}

/*** Tabela ***/
div#users-contain { width: 100%; }
	div#users-contain table { border-collapse: collapse;  }
	div#users-contain table th { border: 1px solid #eee; font-family:Arial, sans-serif; padding:5px 5px 5px 7px; text-align: left;}
	div#users-contain table td { border: 1px solid #eee; font-family:Tahoma, Arial, sans-serif; color:#333; font-size:12px; padding:7px 5px 7px 7px;}
	div#users-contain table td a{ text-decoration:none; cursor:pointer;}
	div#users-contain table td a:hover{ text-decoration:underline;}
	

.td_line_alter:hover		{ background:#fcf5dd; color:#000;}
.td_line:hover			{ background:#fcf5dd; color:#000;}
.td_line				{ background:#fff;}
.td_line_alter			{ background:#f6f6f6; color:#000;}
.td_line_selected		{ background:#f1bbbb; color:#000;}

th{background:url(../img/menu/bg_mainMenu.gif); text-align:left; height:18px; border-bottom:1px solid #ccc; border-left:1px solid #ccc; padding-left:10px;}
th:hover{background:url(../img/menu/bg_mainMenu2.gif); height:18px; border-bottom:1px solid #ccc; border-left:1px solid #ccc; padding-left:10px;}
th a{ font:12px Tahoma, Arial, "Trebuchet MS"; color:#555; text-decoration:none; font-weight:bold; text-shadow: 1px 1px 0px #fff;}

/*** Tags ***/
.flag{ float:left; margin-left:5px;}
.tag_red{float:left !important; margin-left:5px; color:#fff; background:#c13d2c; padding:3px 7px; text-transform:uppercase; font:11px Arial; font-weight:bold; -moz-border-radius:3px;-webkit-border-radius:3px;}
.tag_green{float:left !important; margin-left:5px; color:#fff; background:#55b449; padding:3px 7px; text-transform:uppercase; font:11px Arial; font-weight:bold; -moz-border-radius:3px;-webkit-border-radius:3px;}

.tag_yellow{float:left !important; margin-left:5px; color:#fff; background:#e4ac10; padding:3px 7px; text-transform:uppercase; font:11px Arial; font-weight:bold; -moz-border-radius:3px;-webkit-border-radius:3px;}
.tag_blue{float:left !important; margin-left:5px; color:#fff; background:#3a6da1; padding:3px 7px; text-transform:uppercase; font:11px Arial; font-weight:bold; -moz-border-radius:3px;-webkit-border-radius:3px;}
.tag_black{float:left !important; margin-left:5px; color:#fff; background:#333; padding:3px 7px; text-transform:uppercase; font:11px Arial; font-weight:bold; -moz-border-radius:3px;-webkit-border-radius:3px;}

.tx_pequeno{clear:right; padding:2px 5px; font:10px Tahoma, Arial; text-transform:none;}


/******* Painel de Leitura / Tickets de Suporte **************************/
#lista_chamados{ float:right; width:320px; overflow:hidden; margin-left:5px;}
#cont_lista_chamados{ float:left; overflow:auto;  width:320px;}
#content_chamados{display:block; border-left:1px dotted #ccc; overflow:auto; }

.label_ticket{font:10px Arial; padding:0px; color:#666; padding-left:5px; border:0px; float:left;}
.tit_chamado{ font:28px Arial; color:#333; letter-spacing:-1px; padding:5px; display:block; background:#f1f1f1;}
#perfil_chamado{ padding:5px; font:14px "Franklin Gothic Medium Cond"; color:#666; background:#f1f1f1;}
.label_perfil_chamado{font:11px Tahoma; color:#666; }

.header_cliente_chamado{ float:left; font:12px Tahoma, Arial; color:#666; padding:8px 8px 5px 8px; border-right:1px dotted #ccc;}
.header_data_chamado{float:left; font:12px Tahoma, Arial; color:#666; padding:8px 8px 5px 8px; border-right:1px dotted #ccc;}

/******** Tabela Relatório de Propostas **********************************/
#table_left{width:80%; float:left;}
#table_right{width:19%; float:right; margin-top:5px; background:#f3f3f3; border:1px solid #c00;}




